*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: darkgrey;
}

main{
display: flex;
height: 100vh;
}
img{
width: 100%;}
.full{
max-width: 1150;
margin: auto;
display: flex;
}
.col{
    flex: 1;
}
.in{
    display: flex;
    height: 100%;
}
form{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 16px;
    
}