body{
    margin: 0;

}
.img{
    height: 500px;
    height: 500px;
}
.test{
    position: absolute;
    left: 20px;
    top: 12px;
    color: azure;
    font-size: x-large;
}
.test2{
    position: absolute;
    top: 8px;
    right: 160px;
    font-size: 18px;
  }
.test3{
    
}