body{
    margin: 0;
    height: 100vh;

}
.red{
    height: 25%;
background-color: #ff0000;
}
.blue{
    height: 25%;
    background-color: #0000ff;
}
.green{
    height: 25%;
    background-color: #00ff00
    ;
}
.yallow{
    height: 25%;
    background-color: #fffb00
    ;
}