
*{box-sizing: border-box;}
body{
    margin: 0%;
    height: 100vh;
}
.layout{
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.layout .card-sec1{
    height: 30%;
    width: calc(100% - 20px);
    border: 2px solid;
    padding: 20px;
display: flex;
flex-direction: row;
gap: 14px; 
margin: 10px;
}
.layout .card-sec1 .card1{
    border: 1px solid;
flex-wrap: wrap;
flex-grow: 1;
}
.layout .card-sec1 .card{
    flex-wrap: wrap;
    flex-grow: 2;
    border: 1px solid;
}
.layout .content{
    border: 2px solid;
width: calc(100% - 20px);
    height: 40%;
    gap: 16px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.layout .content .card-sec2{
    height:100%;
    width: 30%;
    border: 2px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.layout .card-sec2 .card2{
    border: 1px solid;
    flex-wrap: wrap;
    flex-grow: 1;

} 
.layout .content .card0{
    border: 1px solid
    ;
    height: 100%;
    width: 70%;
}
.layout .card-sec3{
    border: 2px solid;
    height: 30%;
width: calc(100% - 20px);   
 margin: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
}
.layout .card-sec3 .card3{
    border: 1px solid;
flex-wrap: wrap;
flex-grow: 1;

}